@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

body{
    background-color: #E1E6FF;
}

header{

}

.header_container{
    background-color: #B6C2FF;
    height: 130px; 
    width: 100%;

    display: flex;
    flex-direction: row;
}

.mainnav_container{
    display: flex;
    justify-content: space-between;
}

.mainnav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    display: flex;
    justify-content: space-between;
    color: #E1E6FF;
}

.mainnav li a {
    display: block;
    color: #CA4E84;
    padding: 20px 5px 10px 5px;
    background-color: #B6C2FF;
    border: 2px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #CA4E84;
    text-decoration: none;
}

#active{
    color: #E1E6FF;
    background-color: #CA4E84;
}

.logo{
    color: #E1E6FF;
}

#taal{
    padding: 3px 2px 3px 2px;
    background-color: #E1E6FF;
}